:root{
    --darkgreen-main-color: #283D3B;
    --seagreen-main-color: #197278;
    --sandy-main-color: #EDDDD4;
    --orangeish-main-color: #C44536;
    --ashyred-main-color: #772E25;
    --header-font: "Playwrite Mx";
    --body-font: "Poppins";
    }
    

    body{
        font-size: 13px;
        font-family: 'Poppins';
        margin: 10px;
        padding: 10px;
    }
    
    header{
        background-color: var(--darkgreen-main-color);
        height: 13vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .divnav{
        margin: 0px;
        text-align: center;
        width: auto;
        height: 55px;
        display: flex;
        gap: 20px;
        background-color: #283D3B;
    }
    
    #btn{
        font-size: 1.5rem;
        padding: 0.5em 0.5em;
        background-color: var(--darkgreen-main-color);
        border: 2px solid var(--sandy-main-color);
        border-radius: 6px;
        transition: all 0.3s;
        color: var(--sandy-main-color);
        text-decoration: none;
        font-family: var(--header-font);
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #btn:hover{
        transform: translateX(-5px);
        background-color: var(--seagreen-main-color);
        box-shadow: 3px 3px 3px var(--sandy-main-color);
    }


    /*===================CARDS=======================*/

    .main{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        justify-content: center;
        align-items: center;
        margin: 100px;
        padding: 100px;
    }


    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .card-body{
        width: auto;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-family: var(--body-font);
    }



    #btnCard{
        background-color: #283D3B;
        font-family: var(--body-font);
        border: 3px solid var(--ashyred-main-color);
    }

    #btnCard:hover{
        font-family: var(--body-font);
        border: 3px solid var(--sandy-main-color);
        box-shadow: inset 10em 0 3em 0 var(--seagreen-main-color);
    }